.navbar-container {
    background-color: white;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo {
    font-family: Inter;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
    color: #000;
    letter-spacing: 0.045rem;
}



.tabs {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.link {
    display: flex;
    width: 5rem;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: center;
    height: 1.5rem;
    justify-content: center;
    align-items: center;
}

.search-bar {
    display: flex;
    background-color: #F5F5F5;
    padding: 0.4375rem 0.75rem 0.4375rem 1.25rem;
    flex-direction: row;
    border-radius: 0.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

}

.search-bar .search {
    font-family: Poppins;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem;
    border: none;
    width: 100%;
    background-color: #F5F5F5;
}

/* .search-logo{
    /* position: relative;
    right: 20%;
} */

.line {
    margin: 0;
    height: 0rem;
}

.frame {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}






/* to hide the arrow */
.dropdown-toggle::before {
    display: none !important;
}

.dropdown-menu.show {
    background-color: #666166;
    width: 15rem !important;
    display: flex;
    gap: 0.5rem !important;
    flex-direction: column;

}




.dropdown-item {
    display: flex !important;
    gap: 1rem !important;
    align-items: center !important;
    color: #FAFAFA !important;
    text-align: center;
    height: 1.8rem;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3125rem;
}

.dropdown-item:hover {
    background-color: #666166;
    filter: brightness(80%);
}