
.account,
.roadmap-child {
  position: relative;
  opacity: 0.5;
}
.account {
  line-height: 1.31rem;
}
.roadmap-child {
  width: 0.43rem;
  height: 0.76rem;
}
.nothing1,
.roadmap-item {
  position: relative;
  display: none;
  opacity: 0.5;
}
.roadmap-item {
  width: 0.82rem;
  height: 0;
}
.nothing1 {
  line-height: 1.31rem;
}
.roadmap {
  position: absolute;
  top: 13.88rem;
  left: 8.44rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75rem;
}
.image-63-icon {
  position: absolute;
  top: 9.63rem;
  left: 1.69rem;
  width: 27.88rem;
  height: 19.69rem;
  object-fit: cover;
}
.image-63-wrapper {
  position: absolute;
  top: 20.19rem;
  left: 20.94rem;
  border-radius: 4px;
  background-color: #f5f5f5;
  width: 31.25rem;
  height: 37.5rem;
  overflow: hidden;
}
.image-57-icon {
  position: absolute;
  top: 0.75rem;
  left: 1.5rem;
  width: 7.56rem;
  height: 7.13rem;
  object-fit: cover;
}
.image-57-wrapper {
  position: absolute;
  top: 20.19rem;
  left: 8.44rem;
  border-radius: 4px;
  background-color: #f5f5f5;
  width: 10.63rem;
  height: 8.63rem;
  overflow: hidden;
}
.image-58-icon {
  position: absolute;
  top: 1.25rem;
  left: 1.81rem;
  width: 7rem;
  height: 6.06rem;
  object-fit: cover;
}
.image-58-wrapper {
  position: absolute;
  top: 29.81rem;
  left: 8.44rem;
  border-radius: 4px;
  background-color: #f5f5f5;
  width: 10.63rem;
  height: 8.63rem;
  overflow: hidden;
}
.image-61-icon {
  position: absolute;
  top: 1.38rem;
  left: 1.13rem;
  width: 8.38rem;
  height: 5.88rem;
  object-fit: cover;
}
.image-61-wrapper {
  position: absolute;
  top: 39.44rem;
  left: 8.44rem;
  border-radius: 4px;
  background-color: #f5f5f5;
  width: 10.63rem;
  height: 8.63rem;
  overflow: hidden;
}
.image-59-icon {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  width: 7.63rem;
  height: 6.63rem;
  object-fit: cover;
}
.image-59-wrapper {
  position: absolute;
  top: 49.06rem;
  left: 8.44rem;
  border-radius: 4px;
  background-color: #f5f5f5;
  width: 10.63rem;
  height: 8.63rem;
  overflow: hidden;
}
.div,
.havic-hv-g-92 {
  position: absolute;
  left: 56.44rem;
  font-size: 1.5rem;
  letter-spacing: 0.03em;
  line-height: 1.5rem;
  font-family: Inter;
}
.havic-hv-g-92 {
  top: 20.19rem;
  font-weight: 600;
}
.div {
  top: 25rem;
}
.vector-icon,
.vector-icon4 {
  position: relative;
  border-radius: 1.4px;
  width: 1.25rem;
  height: 1.25rem;
}
.vector-icon4 {
  opacity: 0.25;
}
.four-star,
.four-star-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.four-star-parent {
  gap: 0.5rem;
}
.frame-child {
  position: relative;
  border-right: 1px solid #000;
  box-sizing: border-box;
  width: 0.06rem;
  height: 1.06rem;
  opacity: 0.5;
}
.in-stock {
  position: relative;
  line-height: 1.31rem;
  opacity: 0.6;
}
.frame-group,
.line-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
}
.line-parent {
  align-items: center;
  color: #0f6;
}
.frame-group {
  position: absolute;
  top: 22.69rem;
  left: 56.44rem;
  align-items: flex-start;
}
.playstation-5-controller {
  position: absolute;
  top: 28rem;
  left: 56.44rem;
  line-height: 1.31rem;
  display: inline-block;
  width: 23.31rem;
}
.colours {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 1.25rem;
}
.colour-chnage-child,
.colour-chnage-item {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
}
.colour-chnage-item {
  border-radius: 50%;
  background-color: #e07575;
}
.colours-parent {
  position: absolute;
  top: 34.94rem;
  left: 56.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
  font-size: 1.25rem;
  font-family: Inter;
}
.xs {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 10px);
  line-height: 1.31rem;
  font-weight: 500;
  display: inline-block;
  width: 1.13rem;
  height: 1.25rem;
}
.xs-wrapper {
  position: relative;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  width: 2.13rem;
  height: 2.13rem;
  overflow: hidden;
  flex-shrink: 0;
}
.m,
.s {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 5px);
  line-height: 1.31rem;
  font-weight: 500;
  display: inline-block;
  width: 0.5rem;
  height: 1.25rem;
}
.m {
  top: calc(50% - 10px);
  left: calc(50% - 6px);
  width: 0.75rem;
}
.m-wrapper {
  position: relative;
  border-radius: 4px;
  background-color: #db4444;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  flex-shrink: 0;
  color: #fafafa;
}
.l,
.xl {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 4px);
  line-height: 1.31rem;
  font-weight: 500;
  display: inline-block;
  width: 0.38rem;
  height: 1.25rem;
}
.xl {
  left: calc(50% - 9px);
  width: 1rem;
}
.frame-container,
.size-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 0.88rem;
  font-family: Poppins;
}
.size-parent {
  position: absolute;
  top: 37.69rem;
  left: 56.5rem;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.25rem;
  font-family: Inter;
}
.underline-icon {
  position: absolute;
  top: 33.38rem;
  left: 56.44rem;
  width: 25rem;
  height: 0.06rem;
  opacity: 0.5;
}
.vector-icon5 {
  position: absolute;
  height: 6.25%;
  width: 72.92%;
  top: 46.88%;
  right: 13.54%;
  bottom: 46.88%;
  left: 13.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-minus {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0.63rem;
  left: 0.5rem;
}
.icon-minus-wrapper {
  position: relative;
  border-radius: 4px 0 0 4px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  width: 2.5rem;
  height: 2.75rem;
  overflow: hidden;
  flex-shrink: 0;
}
.div1 {
  position: absolute;
  top: 0.5rem;
  left: 2.13rem;
  line-height: 1.75rem;
  font-weight: 500;
}
.frame-item,
.wrapper {
  position: relative;
  height: 2.75rem;
  overflow: hidden;
  flex-shrink: 0;
  margin-left: -0.06rem;
}
.wrapper {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  width: 5rem;
}
.frame-item {
  border-radius: 0 4px 4px 0;
  width: 2.56rem;
}
.frame-div {
  position: absolute;
  top: 41.19rem;
  left: 56.5rem;
  width: 9.94rem;
  height: 2.75rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 1.25rem;
}
.add-to-cart {
  position: relative;
  line-height: 1.5rem;
  font-weight: 500;
}
.button {
  position: absolute;
  top: 41.19rem;
  left: 67.44rem;
  border-radius: 4px;
  background-color: #db4444;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.63rem 3rem;
  font-size: 1rem;
  color: #fafafa;
}
.product-details-page-item {
  position: absolute;
  top: 41.25rem;
  left: 78.81rem;
  border-radius: 4px;
  width: 2.63rem;
  height: 2.63rem;
  overflow: hidden;
}
.underline-icon1 {
  position: absolute;
  top: 5.56rem;
  left: 0;
  width: 24.94rem;
  height: 0.06rem;
  opacity: 0.5;
}
.icon-delivery {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  overflow: hidden;
  flex-shrink: 0;
}
.enter-your-postal {
  position: relative;
  font-size: 0.75rem;
  text-decoration: underline;
  line-height: 1.13rem;
  font-weight: 500;
}
.free-delivery-parent,
.icon-delivery-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}
.icon-delivery-parent {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.details {
  text-decoration: underline;
}
.free-30-days-container {
  position: relative;
  font-size: 0.75rem;
  line-height: 1.13rem;
  font-weight: 500;
}
.icon-return-parent {
  position: absolute;
  top: 6.63rem;
  left: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.underline-parent {
  position: absolute;
  top: 46.44rem;
  left: 56.5rem;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  width: 24.94rem;
  height: 11.25rem;
  overflow: hidden;
  font-size: 1rem;
}
.category-rectangle-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  background-color: #db4444;
}
.category-rectangle {
  position: relative;
  width: 1.25rem;
  height: 2.5rem;
}
.related-item {
  position: relative;
  line-height: 1.25rem;
  font-weight: 600;
}
.category-rectangle-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.div2 {
  position: relative;
  line-height: 1.13rem;
}
.discount-percent {
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
  border-radius: 4px;
  background-color: #db4444;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.75rem;
}
.fill-heart-icon {
  position: relative;
  width: 2.13rem;
  height: 2.13rem;
}
.fill-heart-parent {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}
.g92-2-500x500-1-icon {
  position: absolute;
  top: calc(50% - 76px);
  left: calc(50% - 86px);
  width: 10.75rem;
  height: 9.5rem;
  object-fit: cover;
}
.g92-2-500x500-1-wrapper {
  position: absolute;
  top: calc(50% - 90px);
  left: calc(50% - 95px);
  width: 11.88rem;
  height: 11.25rem;
  overflow: hidden;
}
.discount-percent-parent {
  position: relative;
  border-radius: 4px;
  background-color: #f5f5f5;
  width: 16.88rem;
  height: 15.63rem;
  overflow: hidden;
  flex-shrink: 0;
}
.div4 {
  position: relative;
  text-decoration: line-through;
  line-height: 1.5rem;
  font-weight: 500;
  color: #000;
  opacity: 0.5;
}
.parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.75rem;
  color: #db4444;
}
.div5 {
  position: relative;
  line-height: 1.31rem;
  font-weight: 600;
  display: inline-block;
  width: 2rem;
  height: 1.25rem;
  flex-shrink: 0;
  opacity: 0.5;
}
.five-star-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
  font-size: 0.88rem;
}
.cart-with-flat-discount,
.havit-hv-g92-gamepad-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.havit-hv-g92-gamepad-parent {
  gap: 0.5rem;
  font-size: 1rem;
  color: #000;
}
.cart-with-flat-discount {
  gap: 1rem;
}
.frame-inner {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 4px 4px;
  background-color: #000;
  height: 2.56rem;
}
.add-to-cart1 {
  position: absolute;
  top: calc(50% + 92px);
  left: calc(50% - 48px);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: #fff;
}
.ak-900-01-500x500-1-icon {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 95px);
  width: 11.94rem;
  height: 6.31rem;
  object-fit: cover;
}
.ak-900-01-500x500-1-wrapper {
  position: absolute;
  top: calc(50% - 110px);
  left: calc(50% - 95px);
  width: 11.88rem;
  height: 11.25rem;
  overflow: hidden;
}
.g27cq4-500x500-1-icon {
  position: absolute;
  top: 1.63rem;
  left: 0.63rem;
  width: 10.63rem;
  height: 8.06rem;
  object-fit: cover;
}
.gammaxx-l240-argb-1-500x500-1-icon {
  position: absolute;
  top: calc(50% - 43px);
  left: calc(50% - 95px);
  width: 11.94rem;
  height: 5.94rem;
  object-fit: cover;
}
.gammaxx-l240-argb-1-500x500-1-wrapper {
  position: absolute;
  top: 2.19rem;
  left: 2.5rem;
  width: 11.88rem;
  height: 11.25rem;
  overflow: hidden;
}
.star-half-filled-icon {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  overflow: hidden;
  flex-shrink: 0;
}
.cart,
.cart-with-flat-discount-parent,
.frame-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1rem;
  color: #000;
}
.cart-with-flat-discount-parent,
.frame-parent1 {
  flex-direction: row;
  gap: 1.88rem;
  font-size: 0.75rem;
  color: #fafafa;
}
.frame-parent1 {
  position: absolute;
  top: 66.44rem;
  left: 8.44rem;
  flex-direction: column;
  gap: 3.75rem;
  font-size: 1rem;
  color: #db4444;
}
.underline-icon2 {
  position: relative;
  width: 90rem;
  height: 0.06rem;
  opacity: 0.5;
}
